$progressFillColor : #34a51d;
$progressFillColorLimit : #ff250d;
$buttonColorBlue : #884b09;
$lineColor : #884b09;
$backgroundColor: #a7a7a7;


 body {
   background: $backgroundColor;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 93%;
  border-radius: 5px;
  border: 2px solid $lineColor;
  background: white;
  color:$lineColor;
  margin:10px;
}

.filler {
  background: $progressFillColor;
  height: 100%;
  transition: width .1s ease-in;
}

.filler-over {
  @extend .filler;
  background: $progressFillColorLimit;
}

.progress-lbl {
  text-align: center;
  position: absolute;
  left:50%;
}

.panel {
  border : 1px solid $lineColor;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 12px 6px -7px #666565;
}

.header-box {
  background: #f5c46a;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  border-bottom: 2px solid #e89640;
}

@media (max-width: 350px) {
  .header-line {
    font-size: 25px !important;
    margin: 0 auto !important;
  }
}

.header-line {
  font-size: 35px;
  margin: 0 auto;
  color: #884b09;
}

.data-box {
  background: #fce7b6;
  padding: 10px 0px;
  border-radius: 0px 0px 10px 10px;
}

.progress-combo-panel {
  padding: 20px 0;
  text-align: center;
}

.select-bar {
  border: 2px solid $buttonColorBlue;
  color : $buttonColorBlue;
  border-radius: 4px;
  padding: 5px;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-box {
  padding: 10px 0;
}

.button-panel {
  padding: 0px 20px 0px 20px;
  text-align: center;
}

.value_button {
  color: $buttonColorBlue;
  background: white;
  border: 2px solid $buttonColorBlue;
  border-radius: 2px; 
  width: calc(100% / 6);  
  display: inline-block;
  vertical-align: top; 
  margin: 3%; 
}
.value_button:hover {
    background-color: $buttonColorBlue;
    color: white;
    cursor: pointer;
}

.value_button:active {
	background-color: white;
  color: $buttonColorBlue;
  border: 2px solid $buttonColorBlue;
}

